.DS_Store
BalancedFace/
*.zip
bin_for_mxnet/
facial_analysis/
gender_images/
*.csv
images/
mivolo/.pre-commit-config.yaml
mivolo/mivolo/data/
__pycache__/
plots/
readme.txt
*_refined/
test.jpg
weights/
